APP_NAME=KalapakAPI
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://kalapak-mobile.onrender.com

LOG_CHANNEL=stderr
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=kalapak_db
DB_USERNAME=kalapak_user
DB_PASSWORD=kalapak_secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=array
SESSION_LIFETIME=120

SANCTUM_STATEFUL_DOMAINS=kalapak-mobile.onrender.com
SESSION_LIFETIME=120

SANCTUM_STATEFUL_DOMAINS=localhost:3000,localhost:8080,localhost

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=kalapakteam@gmail.com
MAIL_FROM_NAME="${APP_NAME}"
